.needs-page {
  height: 100vh;
  background-color: #f8f8f8;

  .needs-nav-bar {
    background: #fff;
  }

  .needs-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #f8f8f8;

    .needs-nav-bar {
    }

    .needs-form {
      width: 100vw;
      margin-top: 8px;

      .adm-list-card {
        margin: 0;
      }
    }

    .btn-wrapper {
      width: 375px;
      height: 64px;
      margin-top: 8px;
      background: #ffffff;

      .needs-button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 351px;
        height: 40px;
        // padding: 13px;
        margin: 13px 12px;
        background: #007e4e;
        border-radius: 4px;

        span {
          color: #ffffff;
          font-weight: 400;
          font-size: 16px;
          font-family: PingFangSC-Regular, PingFang SC;
          line-height: 26px;
        }
      }
    }
  }
}
